* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#viewarea {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f8f8f8;
  border: 1px solid #000;
  overflow: hidden;
}

.board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  
  display: none;
}

#game-board {
  z-index: 0;
  display: block;
  background: url('../images/wood.jpg') #ddd repeat;
}

#game-bar, #welcome-bar {
  height: 70px;
  width: 100%;
  background-color: #eee;
  background: url('../images/blueprint.gif') #fff repeat-x;
  font-family: 'Cutive', serif;
  font-size: 140%;
  box-shadow: 0 5px 5px #888;
}

#game-bar .container {
  padding: 10px 20px;
  text-shadow: 1px 2px 2px #fff;
}

#game-bar .container a {
  display: inline-block;
  padding: 4px;
  background: #fff;
  border-radius: 8px;
  color: #36f;
  text-decoration: none;
}

#game-area {
  height: auto;
}

#pizza-wrapper {
  position: absolute;
  width: 100%;
  top: 28%;
}
#pizza {
  position: relative;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  clear: both;
}

#pizza-left, #pizza-right {
  position: absolute;
  width: 90px;
  height: 180px;
  
  background-image: url('../images/base.png');
  background-size: 180px 180px;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
  
  /*-moz-box-shadow:    4px 6px 4px rgba(68,68,68,0.6);
  -webkit-box-shadow: 4px 6px 4px rgba(68,68,68,0.6);
  box-shadow:         4px 6px 4px rgba(68,68,68,0.6);*/
  
  z-index: 1;
}
#pizza-left { left: 0; top: 0; border-radius: 180px 0 0 180px; background-position: left center;}
#pizza-right { right: 0; top: 0; border-radius: 0 180px 180px 0; background-position: right center;}

.ingredient-left, .ingredient-right {
  position: absolute;
  width: 90px;
  height: 180px;
  
  background-size: 180px 180px;
  background-repeat: no-repeat;
  background-color: transparent;
  
  opacity: 0; 
  display: block;
}
.ingredient-left { top: 0; left: 0; border-radius: 180px 0 0 180px; background-position: left center;}
.ingredient-right { top: 0; right: 0; border-radius: 0 180px 180px 0; background-position: right center;}

.ingredient-left.maybe, .ingredient-right.maybe {
  display: block;
  opacity: 0.5;
}

.ingredient-left.on, .ingredient-right.on {
  display: block;
  opacity: 1;
}

#ingredients-wrapper {
  position: absolute;
  top: 80%;
  height: 64px;
  width: 100%;
  z-index: 400;
}

#ingredients {
  text-align: center;
  z-index: 500;
}

.ingredient {
  width: 74px;
  height: 60px;
  
  display: inline-block;
  margin: 0 4px;
  
  text-align: center;
  
  background-position: center center;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  
  border-radius: 5px;
  
  cursor: hand;
}
.ingredient:hover {
  background-color: #ddd;
}
.ingredient .name {
  width: auto;
  height: 14px;
  line-height: 14px;
  border-radius: 0 0 5px 5px;
  
  margin-top: 46px;
  font-family: arial, sans-serif;
  font-size: 92%;
  padding: 2px 8px;
  text-align: center;
  background-color: #f81;
  color: #fff;
}

.board .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.board .inner {
  position: relative;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  background: url('../images/board-inner.png') repeat #eee;
  
  border-radius: 20px;
}

.board .inner > .close-btn {
  color: #fff;
  font-size: 180%;
  position: absolute;
  font-family: 'Unkempt', cursive;
  text-shadow: 1px 1px 2px #333;

  right: 3%;
  top: 3%;
}

.board h2 {
  color: #fff;
  font-size: 230%;
  font-family: 'Unkempt', cursive;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  padding-top: 5%;
}

.board .content {
  padding: 2% 8%;
  min-height: 20%;
  
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  font-size: 190%;
  font-family: 'Unkempt', cursive;
  
  text-align: left;
  background-color: transparent;
  margin: 2% 0;
}

.board .button {
  cursor: hand;
}

.board .buttons {
  background-color: transparent;
  text-align: center;
}

.board .buttons a.button {
  display: inline-block;
  font-size: 190%;
  font-family: 'Unkempt', cursive;
  text-shadow: 1px 1px 3px #000;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 6px 12px;
  border-radius: 5px;
  background: url('../images/blueprint.gif') #0F8CF2 repeat;
  
  margin: 4px;
  
  -moz-box-shadow:    4px 6px 4px rgba(68,68,68,0.6);
  -webkit-box-shadow: 4px 6px 4px rgba(68,68,68,0.6);
  box-shadow:         4px 6px 4px rgba(68,68,68,0.6);
}

.timer-bar {
  display: inline-block; 
  background-color: #fff; 
  border: 1px solid #777; 
  width: 84px; height: 4px;
  border-radius: 2px;
  padding: 1px;
  margin-top: 2px;
}

.timer-bar .bar {
  display: inline-block;
  background-color: #36f; 
  width: 100%; height: 100%;
  border-radius: 2px;
}

#loading-board {
  z-index: 200;
  display: block;
  background-color: #eee;
  font-size: 240%;
  color: #000;
  text-align: center;
  font-family: 'Unkempt', cursive;
  text-shadow: 1px 2px 2px #eee;
}

#welcome-board {
  display: block;
  background: url('../images/wood.jpg') repeat #eee;
}

#welcome-board .logo {
  margin: auto 0 auto 8%;
}

#welcome-board .logo img {
  height: 320px;
}

#welcome-board .logo-text {
  position: absolute;
  top: 20%;
  right: 12%;
  font-size: 400%;
  color: #fff;
  font-family: 'Cutive', serif;
  text-shadow: 0px 4px 8px #000;
}

#welcome-board .buttons {
  position: absolute;
  top: 42%;
  right: 12%;
  text-align: center;
}

#welcome-board .buttons a {
  display: block;
  font-size: 240%;
  font-family: 'Unkempt', cursive;
  text-shadow: 1px 1px 3px #000;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  background: url('../images/blueprint.gif') #0F8CF2 repeat;
  
  -moz-box-shadow:    4px 6px 4px rgba(68,68,68,0.6);
  -webkit-box-shadow: 4px 6px 4px rgba(68,68,68,0.6);
  box-shadow:         4px 6px 4px rgba(68,68,68,0.6);
}

#debug {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#msg {
  position: relative;
  width: 400px;
  height: 80px;
  margin: 100px auto;
  z-index: 300;
  
  font-family: 'Unkempt', cursive;
  font-size: 320%;
  color: #36f;
  text-shadow: 1px 3px 20px #444;      
  text-align: center;
  opacity: 0;
}

#next-order.timer-bar {
  position: absolute;
  width: 48px;
  height: 3px;
  top: 88px; left: 20px;
}

#order-notes, #order-notes-show {
  position: absolute;
  width: 45px;
  height: 50px;
  background: url('../images/note.png') transparent no-repeat;
  background-size: 50px auto;
  top: 100px; left: 20px;
  padding: 10px 8px;
  font-size: 190%;
  font-family: 'Unkempt', cursive;
  text-shadow: 1px 1px 2px #666;
  text-align: center;
}

#order-notes-show {
  padding-left: 2px;
}

#order-note {
  position: absolute;
  width: 135px;
  height: 150px;
  background: url('../images/note.png') transparent no-repeat;
  background-size: 135px auto;
  top: 100px; right: 10px;
  padding: 16px 20px;
  opacity: 0;
  font-size: 170%;
  font-family: 'Unkempt', cursive;
  text-shadow: 1px 1px 2px #666;
}

#order-note .strike {
  color: #444;
  text-decoration: line-through;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  body {
    font-size: 10px;
  }
  
  #viewarea {
    min-height: 280px;
    margin: 0;
  }
  
  #welcome-board .logo img {
    height: 200px;
  }
  
  #welcome-board .logo-text {
    top: 20%;
  }

  #welcome-board .buttons {
    top: 44%;
  }
  
  #game-bar, #welcome-bar {
    height: 46px;
    width: 100%;
  }

  #pizza-wrapper {
    width: 100%;
    top: 26%;
  }
  
  #pizza {
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }

  #pizza-left, #pizza-right {
    position: absolute;
    width: 60px;
    height: 120px;

    background-size: 120px 120px;
  }
  #pizza-left { left: 0; top: 0; border-radius: 120px 0 0 120px; background-position: left center;}
  #pizza-right { right: 0; top: 0; border-radius: 0 120px 120px 0; background-position: right center;}

  .ingredient-left, .ingredient-right {
    position: absolute;
    width: 60px;
    height: 120px;

    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-color: transparent;

    opacity: 0; 
    display: block;
  }
  .ingredient-left { top: 0; left: 0; border-radius: 120px 0 0 120px; background-position: left center;}
  .ingredient-right { top: 0; right: 0; border-radius: 0 120px 120px 0; background-position: right center;}
  
  #ingredients-wrapper {
    top: 76%;
    bottom: auto;
    height: 44px;
  }
  
  .ingredient {
    width: 44px;
    height: 40px;

    margin: 0 3px;
    background-size: 32px 32px;
    border-radius: 3px;
  }
  .ingredient .name {
    height: 12px;
    line-height: 12px;
    border-radius: 0 0 3px 3px;

    margin-top: 28px;
    font-size: 90%;
    padding: 2px 2px;
  }
  
  .timer-bar {
    width: 38px; height: 2px;
    border-radius: 1px;
    padding: 1px;
    margin-top: 2px;
  }

  .timer-bar .bar {
    border-radius: 1px;
  }
  
  #next-order.timer-bar {
    width: 28px;
    height: 2px;
    top: 56px; left: 12px;
  }
  
  #order-notes, #order-notes-show {
    position: absolute;
    width: 34px;
    height: 40px;
    background-size: 34px auto;
    top: 70px; left: 10px;
    padding: 4px 1px;
    font-size: 190%;
  }

  #order-notes-show {
    padding-left: 2px;
  }

  #order-note {
    width: 88px;
    height: 120px;
    background-size: 88px auto;
    top: 70px; right: 0px;
    padding: 10px 14px;
    font-size: 130%;
  }
    
  .board .inner {
    width: 74%;
    height: 74%;
    top: 13%;
    left: 13%;

    border-radius: 14px;
    background-size: 60px 60px;
  }
  
  .board .content {
    font-size: 170%;
  }
  
  #msg {
    width: 220px;
    height: 60px;
    margin: 30px auto;

    font-size: 290%;
  }
  
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
  body {
    font-size: 14px;
  }
  #welcome-board .logo img {
    height: 460px;
  }

  #welcome-board .logo-text {
    top: 20%;
  }

  #welcome-board .buttons {
    top: 44%;
  }
  
  #pizza {
    width: 280px;
    height: 280px;
  }

  #pizza-left, #pizza-right {
    width: 140px;
    height: 280px;

    background-size: 280px 280px;
  }
  #pizza-left { left: 0; top: 0; border-radius: 280px 0 0 280px; background-position: left center;}
  #pizza-right { right: 0; top: 0; border-radius: 0 280px 280px 0; background-position: right center;}

  .ingredient-left, .ingredient-right {
    position: absolute;
    width: 140px;
    height: 280px;

    background-size: 280px 280px;
    background-repeat: no-repeat;
    background-color: transparent;

    opacity: 0; 
    display: block;
  }
  .ingredient-left { top: 0; left: 0; border-radius: 280px 0 0 280px; background-position: left center;}
  .ingredient-right { top: 0; right: 0; border-radius: 0 280px 280px 0; background-position: right center;}
  
  
  #ingredients-wrapper {
    top: 76%;
    bottom: auto;
    height: 74px;
  }
  
  .ingredient {
    width: 80px;
    height: 70px;

    margin: 0 3px;
    background-size: 64px 64px;
    border-radius: 3px;
  }
  .ingredient .name {
    height: 16px;
    line-height: 16px;
    border-radius: 0 0 3px 3px;

    margin-top: 54px;
    font-size: 90%;
    padding: 2px 2px;
  }
  
  .timer-bar {
    width: 78px; height: 3px;
    border-radius: 1px;
    padding: 1px;
    margin-top: 2px;
  }

  .timer-bar .bar {
    border-radius: 1px;
  }
  
  #next-order.timer-bar {
    width: 56px;
    height: 3px;
    top: 84px; left: 20px;
  }
  
  #order-notes, #order-notes-show {
    position: absolute;
    width: 60px;
    height: 70px;
    background-size: 60px auto;
    top: 100px; left: 20px;
    padding: 4px 1px;
    font-size: 190%;
  }

  #order-notes-show {
    padding-left: 2px;
  }

  #order-note {
    width: 160px;
    height: 180px;
    background-size: 160px auto;
    top: 100px; right: 0px;
    padding: 14px 18px;
    font-size: 130%;
  }
  
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
  .ingredient {
    width: 68px;
    height: 70px;

    margin: 0 3px;
    background-size: 64px 64px;
    border-radius: 3px;
  }
  
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1124px) {
/* Styles */
  #viewarea {
    width: 700px;
    height: 420px;
    margin: 20px auto;
  }
  
  .ingredient {
    width: 64px;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}